<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Pleased.io</title>

    <link href='http://fonts.googleapis.com/css?family=Muli:300,400' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container">
      <div class="offset-by-three column six columns">
        <div class="logo-container">
          <center><%= image_tag("pleased-io.png", class: "responsive-image max-width-100") %></center>
        </div>
        <%= yield %>

        <div id="flash">
          <% flash.each do |key, value| -%>
            <div id="flash_<%= key %>"><%=h value %></div>
          <% end %>
        </div>

      </div>
    </div>
  </body>
</html>
